.user_account-h1 {
   font-size: 40px;
}

.user_account-h2 {
   font-size: 24px;
}

.user_account-h3 {
   font-size: 20px;
}

@media (max-width: 800px) {
   .user_account-h2 {
      font-size: 20px;
   }
   .user_account-h3 {
      font-size: 18px;
   }
}

@media (max-width: 400px) {
   .user_account-h2 {
      font-size: 18px;
   }
   .user_account-h3 {
      font-size: 16px;
   }
}

.user_account-header {
   background-color: var(--background-color);
   color: var(--text-color);
   padding: 12px 10px;
   box-shadow: 0 0 8px rgb(128 128 128 / 10%);
}

