/* Темная тема */
html[data-theme='dark'] {
   --background-color: #181818;
   --background-right-aside-color: #181818;
   --text-color: #f1f5f9;
   --text-block-hover: rgba(255, 255, 255, 0.08);
   --text-hover: #f1f5f9;
   --block-box-shadow: 0 0 8px rgba(128, 128, 128, 0.1);
   --task-title-color: #f1f5f9;
   --background-color-wrapper: #222222;
   --background-popup-color: #000;
}

/* Светлая тема */
html[data-theme='light'] {
   --background-color: #f1f5f9;
   --background-right-aside-color: #f1f5f9;
   --text-color: #1e293b;
   --text-block-hover: #ffffff;
   --text-hover: #1e293b;
   --block-box-shadow: 0 0 12px rgba(128, 128, 128, 0.2);
   --task-title-color: #313e78;
}