.container {
   max-width: 1248px;
   margin: 0 auto;
   padding: 0 24px;

   @media (max-width: 400px) {
      padding: 0 12px;
   }
}

.h1 {
   font-size: 50px;

   @media (max-width: 800px) {
      font-size: 40px;
   }

   @media (max-width: 400px) {
      font-size: 20px;
   }
}

.h2 {
   font-size: 36px;

   @media (max-width: 800px) {
      font-size: 28px;
   }

   @media (max-width: 400px) {
      font-size: 18px;
   }
}

.h3 {
   font-size: 28px;

   @media (max-width: 800px) {
      font-size: 20px;
   }

   @media (max-width: 400px) {
      font-size: 16px;
   }
}

.h-100 {
   height: 100%;
}

.section-padding {
   padding-bottom: 56px;

   @media (max-width: 800px) {
      padding-bottom: 32px;
   }

   @media (max-width: 300px) {
      padding-bottom: 24px;
   }
}

.ovefflow-hidden {
   overflow: hidden;
}

.li-circle {
   position: relative;
   list-style-image: url('./green_mark.svg');
   padding-left: 4px;
   font-size: 18px;
}

.li-circle::marker {
   font-size: 2em;
}